<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"art4dev/page-hero"} /-->

	<!-- wp:group {"tagName":"section","className":"section","layout":{"type":"default"}} -->
	<section class="wp-block-group section">
		<!-- wp:group {"className":"container","layout":{"type":"default"}} -->
		<div class="wp-block-group container">
			<!-- wp:group {"className":"prose","layout":{"type":"default"}} -->
			<div class="wp-block-group prose">
				<!-- wp:post-content {"layout":{"type":"default"}} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
